@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  height: 98vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

.node__container.fade-in {
  animation: fadeIn 0.2s ease-in-out;
}

#configMenu.fade-in {
  z-index: 9999;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#configMenu.fade-out {
  z-index: 9999;
  animation: fadeOut 0.2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5%);
  }
}
